body {

  margin: 0;
  padding: 0;
  background-image: url("D:/vize/foto/arka.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

section{
  color: aliceblue;
}

header {
  background-color: rgb(44, 14, 14);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
          }
nav{
  left: 50%;
  display: flex;
  gap: 30px;
}
header img{
  width: 200px;
  height: 200px;
  margin-right: 700px; 
   margin-left: 15px;
}

body a {
  
  color: rgb(255, 255, 255);
  text-decoration: none;   /* altı çizili olmasın */
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
}
.hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 150px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}


.buton {
  background-color: #b300ff;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.buton:hover {
  background-color: #ff0080;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.kutu {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s;
}

.kutu img {
  width: 100%;
  height: 200px; /* sabit yükseklik */
  object-fit: cover; /* taşan kısmı kırpar, oranı korur */
  border-radius: 8px;
  margin-bottom: 15px;
}

.kutu h2 {
  margin: 10px 0;
  font-size: 20px;
}

.kutu p {
  font-size: 16px;
  line-height: 1.5;
  color: #cccccc;
}
#kaynak {
 
  color: #ffffff;
  text-align: center;
  padding: 30px 0;
}

#kaynak a {
  color: #87cefa; /* açık mavi, uzay temasına uygun */
  text-decoration: none;
}
#hakkimda {
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  line-height: 1.2;
  font-size: x-large;
}

#iletisim {
  text-align: center;
}








